*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.coracao{
    width: 80px;
}
.topoDoSite{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(217, 217, 217);
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    box-shadow: 0px 0px 7px 3px rgb(136, 136, 136);
    }
.mafeTitle{
    font-size: 40px;
    font-family: cursive;
    font-weight: bold;
}
main{
    display: flex;
}